{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreApp-Clientes</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <center>
        <h1>Datos Cliente</h1>
    </center>
    <p align="right">
        <a href="{% url 'ver_pcliente' %}" class="btn btn-primary">Regresar</a>
       </p>
    <div class="container mt-4">
        <div class="card" style="text-align: center">
            <table>
                <tr>
                    <th><h3>Nombre</h3></th>
                    <th><h3>Cedula</h3></th>
                </tr>
                <tr>
                    <td><p> {{cliente.nombre}} {{cliente.apellido}} </p></td>
                    <td><p> {{cliente.cedula}} </p></td>
                </tr>
                <tr>
                    <th><h3>Telefono</h3></th>
                    <th><h3>Email</h3></th>
                </tr>
                <tr>
                    <td><p>{{cliente.telefono}} </p></td>
                    <td><p>{{cliente.correo}} </p></td>
                </tr>

            </table>    
        </div>
    </div>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h3>Observaciones</h3>
            </div>
            <p>{{cliente.observaciones}}</p>

            <p>{{ cliente.observaciones_adicionales|linebreaksbr }}</p>
            
        </div>
    </div>


    
    <div class="container">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#obser">
          Agregar observaciones
        </button>
      
        <div class="modal fade" id="obser" tabindex="-1" aria-labelledby="observacionesModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="observacionesModalLabel">Agregar observaciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="observacionForm" method="post">
                  {% csrf_token %}
                  <label for="observacion">Observaciones:</label>
                  <br>
                  <textarea name="observaciones_adicionales" id="observaciones_adicionales" rows="5" cols="50"></textarea>
                  <br>
                  <button type="submit" class="btn btn-primary" id="agregarBtn">Agregar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
    
    

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h2>Seguimiento Procesos</h2>
            </div>
            {% for prop in propiedad %}
            <h3> {{prop.codigo}}  </h3>
            <h2> {{prop.fecha_ingreso}} </h2>
            <h2> {{prop.proceso}} </h2>
            {%endfor%}
        </div>

    </div>

<hr>

    <div class="container mt-4" style="text-align: center">
        <div class="card">
            <table >
                <td>
                    <a type="button" href="{{ cliente.get_delete_url }}" class="btn btn-danger">Eliminar</a>
                    <a type="button" href="{{ cliente.get_edit_url }}" class="btn btn-warning">Editar</a> 
                    <!-- 
                        <a href="{% url 'ver_pcliente' %}" class="btn btn-primary">Volver a Página de Clientes</a>
                    -->   
                </td>
            </table>
        </div>
    </div>

    
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
    // Evitar envío automático del formulario
    document.getElementById('observacionForm').addEventListener('submit', function(event) {
        event.preventDefault();
    });

    // Manejar clic en el botón "Agregar"
    document.getElementById('agregarBtn').addEventListener('click', function() {
        // Enviar el formulario
        document.getElementById('observacionForm').submit();
    });
});
    </script>

</body>
</html>
{% endblock %}
