{% extends 'partials/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CreApp-Propiedades</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $("#searchInput").on("keyup", function() {
        var searchTerm = $(this).val().toLowerCase();
        $(".table-striped tr").each(function() {
          var rowText = $(this).text().toLowerCase();
          if (rowText.indexOf(searchTerm) !== -1) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      });
    });
  </script>
</head>
<body>
  <center>
    <h1>Posibles Propiedades</h1>
  </center>
  <hr>
  <table  WIDTH="100%">
    <tr>
        <td>
            <input type="text" id="searchInput" placeholder="Buscar Propiedad"> 
            <i class="ti-search "></i>
        </td>
        <td>
            <p align="right">
                <a href="{% url 'nueva_propiedad' %}" class="btn btn-primary">Nueva Propiedad</a>
              </p>
        </td>
    </tr>
  </table>
  <hr>

  <table class="table table-striped" style="text-align: center">

    <tr>
      <th><h2>Codigo</h2></th>
      <th><h2>Tipo</h2></th>
      <th><h2>Ubicacion</h2></th>
      <th><h2>Precio</h2></th>
      <th><h2>Descripcion</h2></th>
      <th><h2> </h2></th>
    </tr>

    {% for prop in propiedad %}
      {% if prop.es_activo %}
        <tr class="searchable">
          <td>{{prop.codigo}}</td>
          <td>{{prop.tipo}}</td>
          <td>{{prop.ubicacion}}</td>
          <td>{{prop.precio}}</td>
          <td>{{prop.descripcion}}</td>
          <td>{{prop.foto_propiedad}}</td>
          <td><a href='/propiedad/{{prop.pk}}' class="btn btn-primary">Ver</a></td>
        </tr>
      {% endif %}
    {% endfor %}

  </table>

</body>
</html>
{% endblock %}