{% extends 'partials/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CreApp-Propiedades</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $("#searchInput").on("keyup", function() {
        var searchTerm = $(this).val().toLowerCase();
        $(".table-striped tr").each(function() {
          var rowText = $(this).text().toLowerCase();
          if (rowText.indexOf(searchTerm) !== -1) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      });
    });
  </script>
</head>
<body>
  <center>
    <h1>Propiedades Disponibles</h1>
  </center>

  <hr>

  <input type="text" id="searchInput" placeholder="Buscar Propiedad"><i class="ti-search "></i>
  <hr>
  <table class="table table-striped" style="text-align: center">

    <tr>
      <th><h2>ID</h2></th>
      <th><h2>Tipo</h2></th>
      <th><h2>Ubicacion</h2></th>
      <th><h2>Precio Comercial</h2></th>
      <th><h2>Precio Crea</h2></th>
      <th><h2>Precio Mínimo</h2></th>
      <th><h2>Descripcion</h2></th>
      <th><h2> </h2></th>
    </tr>

    {% for prop in propiedad %}
      <tr class="searchable">
        <td>{{prop.pk}}</td>
        <td>{{prop.tipo}}</td>
        <td>{{prop.ubicacion}}</td>
        <td>{{prop.precio_comercial}}</td>
        <td>{{prop.precio_crea}}</td>
        <td>{{prop.precio_minimo}}</td>
        <td>{{prop.descripcion}}</td>
        <td>{{prop.foto_propiedad}}</td>
        <td><a href='/propiedaddis/{{prop.pk}}' class="btn btn-primary">Ver</a></td>
        <td><a href='/convenio/{{prop.pk}}' class="btn btn-primary">Convenio</a></td>
        
      </tr>
    {% endfor %}

  </table>

</body>
</html>

{% endblock %}